<!DOCTYPE html>
<html lang="es">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>


  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../bower_components/materialize/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../bower_components/materialize/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="shortcut icon" type="image/png" href="../images/toth_logo.png" />


  <title>Toth</title>
</head>
<body>
<header>
     <ul id="dropdown1" class="dropdown-content">
        <li><a href="#!">Configuración</a></li>
        <li><a href="login.html">Cerrar sesión</a></li>
    </ul>
     <nav class="top-nav grey darken-3">
      <div class="container">
        <a href="home.html"><img src="../images/toth_logo.png" alt="" style="height: 30px;margin-top: 15px;margin-left: 10px;"> </a>
        <a href="home.html" class="brand-logo center">Homecare</a>
          <ul class="right hide-on-med-and-down">
            <li><a href="medicines.html" class="collection-item"><span class="new badge red">4</span></a></small></i>
                        
                        </a></li>
            <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Opciones<i class="material-icons right">arrow_drop_down</i></a></li> 
          </ul>
      </div>
     </nav>
      <div class="container">
      <a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only"><i class="material-icons">menu</i></a>
      </div>
      <ul id="nav-mobile" class="side-nav fixed grey lighten-2" style="transform: translateX(0px);">
        <div class="row">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img src="../images/icon-user-default.png" alt="" class="circle responsive-img center-block activator" style="width: 80%  ;">
                    </div>
                    <div class="card-content ">
                        <span class="card-title activator grey-text text-darken-4"><span id='patientName'></span><i class="material-icons right">more_vert</i></span>
                        <p id="patientRut"></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Ficha<i class="material-icons right">close</i></span>
                        <p>  
                            <p><strong>Nombre: </strong><span id="patientSex"></span>Paciente Toth</p>
                            <p><strong>Sexo: </strong><span id="patientSex"></span>M</p>
                            <p><strong>Edad: </strong><span id="patientBday"></span>28</p>
                            <a href="profile.html" class="waves-effect waves-teal"><i class="material-icons">zoom_in</i>Mas información</a>
                        </p>
                    </div>
                      <br>  
                </div>
        </div>
        <li class="bold"><a href="documents.html" class="waves-effect waves-teal"><i class="material-icons blue-text text-darken-2">library_books</i>Mis estudios</a></li>
        <li class="bold"><a href="updateDocuments.html" class="waves-effect waves-teal"><i class="material-icons blue-text text-darken-2">note_add</i>Subir imagenes</a></li>
        <li class="bold"><a href="telemedicina.html" class="waves-effect waves-teal"><i class="material-icons blue-text text-darken-2">add_to_queue</i>Telemedicina</a></li>
        <li class="bold"><a href="medicines.html" class="waves-effect waves-teal"><i class="material-icons blue-text text-darken-2">local_hospital</i>Medicamentos</a></li>
        <li class="bold"><a href="triage.html" class="waves-effect waves-teal"><i class="material-icons blue-text text-darken-2">perm_contact_calendar</i>Triage</a></li>
      </ul>
  </header>
<div class="container">
  <div class="row all">
        <br>
            <div class="row">
                <span class="card-title grey-text text-darken-4"><h4>Almacenar estudios </h4><i class="material-icons right"></i></span>
                <div class="card">
                    <div class="input-field col s8">
                        <i class="material-icons prefix">perm_contact_calendar</i>
                        <input value='-' id="roomState" type="text" class="validate" readonly>
                        <label for="roomState">Estado sala</label>
                    </div>
                    <div class="input-field col s1">
                        <a class="btn-floating teal waves-effect waves-light" ><i class="material-icons">refresh</i></a>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">settings_input_antenna</i>
                        <input value='-' id="showId" type="text" class="validate" readonly>
                        <label for="showId">ID conexion</label>
                    </div>
                    <div class="input-field col s12 hidePassword">
                        <i class="material-icons prefix">vpn_key</i>
                        <input value='-' id="showPassword" type="text" class="validate" readonly>
                        <label for="showPassword">Contraseña</label>
                    </div>
                    <div class="input-field col s12 center-align">
                        <a class="waves-effect waves-light btn teal roundBtn" id="shareButtom">
                            <i class="material-icons left">share</i> Compartir
                        </a>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">perm_contact_calendar</i>
                        <label for="users">Usuarios</label>
                        <br>
                        <br>
                        <span id='usersList'>
                        </span>
                    </div>
                </div>
            </div>
       
    
           
                <div class="row">
                    <div class="col s12 m12 l12">
                        <ul class="collapsible" data-collapsible="accordion">
                            <li>
                                <div class="collapsible-header settings"><i class="material-icons">settings</i> Configuracion camara y video</div>
                                <div class="collapsible-body">
                                    <div class="row">
                                        <div class="input-field col s12 m3 l3" hidden>
                                            <input type="text" class="validate" id="room-id" disabled>
                                            <label for="room-id">Id de conexion</label>
                                        </div>
                                    </div>
                                    <div class="row center-align">
                                        <div class="col s12 m6 m6 l6">
                                            <label for="audio-devices">Microfono:</label>
                                            <select id="audio-devices" class="browser-default" disabled></select>
                                            <br>
                                            <button id="switch-microphone" class="waves-effect waves-light btn roundBtn" disabled>Cambiar microfono</button>
                                        </div>
                                        <div class="col s12 m6 m6 l6">
                                            <label for="video-devices">Camara:</label>
                                            <select id="video-devices" class="browser-default" disabled></select>
                                            <br>
                                            <button id="switch-camera" class="waves-effect waves-light btn roundBtn" disabled>Cambiar camara</button>
                                        </div>
                                        <br>
                                    </div>
                                </div>
                            </li>
                            <li class="toHide">
                                <div class="collapsible-header examType"><i class="material-icons">view_quilt</i> Inicio</div>
                                <div class="collapsible-body center-align ">
                                    <div class="row">
                                        <p class="flow-text" style=" padding: 0rem;"> Seleccione una opcion</p>
                                        <br>
                                        <div class="col s12 m6 l6" style="margin-bottom: 10px;">
                                            <button id="open-room" type="button" class="waves-effect waves-light btn  btn-large teal roundBtn">
                                                <i class="material-icons left noMarginLeft">voice_chat</i> Crear una sesion
                                            </button>
                                        </div>
                                        <div class="col s12 m6 l6">
                                            <button id="join-room" type="button" class="waves-effect waves-light btn btn-large teal roundBtn">
                                                <i class="material-icons left noMarginLeft">phone_forwarded</i> Unirse a una sesion
                                            </button>
                                        </div>
                                    </div>
                                    <!--
                                    <div class="row">
                                        <br>
                                        <div class="col s12 m12 l12">
                                            <div class="btn-group examType" data-toggle="buttons">
                                                <a class="waves-effect waves-light btn teal" style="margin: 3px;"> <span class="icon-i-ophthalmology fa-2x" aria-hidden="true"></span></a>
                                                <a class="waves-effect waves-light btn grey" style="margin: 3px;"><span class="icon-i-dermatology fa-2x" aria-hidden="true"></span></a>
                                                <a class="waves-effect waves-light btn grey" style="margin: 3px;"><span class="icon-i-hearing-assistance fa-2x" aria-hidden="true"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                    -->
                                </div>
                            </li>
                            <li class="">
                                <div class="collapsible-header videoTab"><i class="material-icons">assignment</i> Procedimiento</div>
                                <div class="collapsible-body">
                                    <div class="row ">
                                        <!--
                                    <div class="row">
                                        <a class="waves-effect waves-light btn teal roundBtn" id='seeVideo'>Continuar</a>
                                    </div>
                                    -->
                                        <br>
                                        <div class="col s12 m12 l12">
                                            <div class="fixed-action-btn horizontal right" style="     bottom: 10px !important;   margin-bottom: -60px !important;position: relative !important;">
                                                <a class="btn-floating btn-large teal tooltipped " data-position="top" data-delay="50" data-tooltip="Configuraciones">
                                                    <i class="large material-icons">phonelink_setup</i>
                                                </a>
                                                <ul>
                                                    <li>
                                                        <a class="btn-floating waves-effect waves-light " id="pauseVideo" hidden>
                                                            <i id="muteVideoIcon" class="material-icons">videocam</i></a>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="btn-floating waves-effect waves-light" id="muteAudio">
                                                            <i id="muteAudioIcon" class="material-icons">mic_none</i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="btn-floating waves-effect waves-light red" id="endCall">
                                                            <i class="material-icons">call_end</i></button>
                                                        </a>
                                                    </li>
                                                </ul>
                                                <ul style="top: 80px;">
                                                    <span class="leftOrRight">
                                                        <li>
                                                            <a class="btn-floating waves-effect waves-light btn teal " id="leftButton">
                                                                <i class="material-icons">arrow_back</i></button>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a class="btn-floating waves-effect waves-light btn grey" id="rightButton">
                                                                <i class="material-icons">arrow_forward</i></button>
                                                            </a>
                                                        </li>
                                                    </span>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col s12 m12 l12 center-align">
                                            <!--<div id="oneWayVideo"></div>-->
                                            <div id="my_camera" ></div>
                                            <canvas hidden id="singleCanvas"></canvas>
                                        </div>
                                        <div class="col s12 m12 l12">
                                            <div class="row center-align">
                                                <div class="col s12 m12 l6" style="margin-bottom: 10px;">
                                                    <button type="button" class="waves-effect waves-light btn-large roundBtn" id="takeSnapshot">
                                                        <i class="material-icons left noMarginLeft">aspect_ratio</i> Capturar imagen
                                                    </button>
                                                </div>
                                                <div class="col s12 m12 l6">
                                                    <button id="openModalFooter" type="button" class="waves-effect waves-light btn-large roundBtn">
                                                        <i class="material-icons left noMarginLeft">send</i> Terminar y enviar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header videoTab"><i class="material-icons">aspect_ratio</i> Capturas</div>
                                <div class="collapsible-body">
                                    <div class="row">
                                        <div class="col s12 m12 l12">
                                            <div class="panel-body">
                                                <div id="screenshotsLocal">
                                                    <br>

                                                    <div id="my_result"></div>
                                                    <!--<div class=" row my-gallery">
                                                        <div class="col s12  m12 l12">
                                                            <span class="captures"></span>
                                                        </div>
                                                        <figure class="removeMe" hidden>
                                                        </figure>
                                                    </div>-->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
                                            <div class="pswp__bg"></div>
                                            <div class="pswp__scroll-wrap">
                                                <div class="pswp__container">
                                                    <div class="pswp__item"></div>
                                                    <div class="pswp__item"></div>
                                                    <div class="pswp__item"></div>
                                                </div>
                                                <div class="pswp__ui pswp__ui--hidden">
                                                    <div class="pswp__top-bar">
                                                        <div class="pswp__counter"></div>
                                                        <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                                                        <button class="pswp__button pswp__button--share" title="Share"></button>
                                                        <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                                                        <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                                                        <div class="pswp__preloader">
                                                            <div class="pswp__preloader__icn">
                                                                <div class="pswp__preloader__cut">
                                                                    <div class="pswp__preloader__donut"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                                                        <div class="pswp__share-tooltip"></div>
                                                    </div>
                                                    <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                                                    </button>
                                                    <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                                                    </button>
                                                    <div class="pswp__caption">
                                                        <div class="pswp__caption__center"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
     

</div>



  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../bower_components/js/jquery-2.2.3.min.js"></script>
  <script src="../bower_components/materialize/js/materialize.js"></script>
  <script src="../bower_components/materialize/js/init.js"></script>
  <script src="../bower_components/webcamjs/webcam.js"></script>
  <script type="text/javascript">
    Webcam.set({
        width: 620,
        height: 440,
        dest_width: 640,
        dest_height: 480,
    });
    function take_snapshot() {
            Webcam.snap( function(data_uri) {
                document.getElementById('my_result').innerHTML = '<img src="'+data_uri+'"/>';
            } );
    }
   $(document).ready(function() {
    Webcam.attach( '#my_camera' );
    $('#takeSnapshot').click(function(event) {
        take_snapshot();
    });
   $.get('menuTop.html', function(data) {
        $("#menuTop").html(data);
    });
  });
  </script>
  </body>
</html>
