<!DOCTYPE html>
<html lang="es">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../bower_components/materialize/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="../bower_components/materialize/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="../css/triage.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link rel="shortcut icon" type="image/png" href="../images/toth_logo.png" />
    <title>Toth</title>
</head>

<body>
    <div id="menuTop"></div>
    <br>
    <div class="container">
        <div id="first-step" class="container">
            <div class="row">
                <div class="col s12 m4 waves-effect waves-light">
                    <div id="pane" class="first-step shadow-demo valign-wrapper hoverable">
                        <h5 class="valign center truncate">Dolor</h5>
                    </div>
                </div>
                <div class="col s12 m4 waves-effect waves-light">
                    <div id="adult" class="first-step shadow-demo valign-wrapper hoverable">
                        <h5 class="valign center truncate">Adulto</h5>
                    </div>
                </div>
                <div class="col s12 m4 waves-effect waves-light">
                    <div id="trauma" class="first-step shadow-demo valign-wrapper hoverable">
                        <h5 class="valign center truncate">Trauma</h5>
                    </div>
                </div>
                <div class="col s12 m4 waves-effect waves-light">
                    <div id="kid" class="first-step shadow-demo valign-wrapper hoverable">
                        <h5 class="valign center truncate">Niño</h5>
                    </div>
                </div>
                <div class="col s12 m4 waves-effect waves-light">
                    <div id="asma" class="first-step shadow-demo valign-wrapper hoverable">
                        <h5 class="valign center truncate">Asma</h5>
                    </div>
                </div>
                <div class="col s12 m4 waves-effect waves-light">
                    <div id="diabetes" class="first-step shadow-demo valign-wrapper hoverable">
                        <h5 class="valign center truncate">Diabetes</h5>
                    </div>
                </div>
                <div class="col s12 m4 waves-effect waves-light">
                    <div id="pregnant" class="first-step shadow-demo valign-wrapper hoverable">
                        <h5 class="valign center truncate">Embarazo</h5>
                    </div>
                </div>
                <div class="col s12 m4 waves-effect waves-light">
                    <div id="hemorragia" class="first-step shadow-demo valign-wrapper hoverable">
                        <h5 class="valign center truncate">Hemorragia</h5>
                    </div>
                </div>
            </div>
        </div>
        <div id="second-step" class="container">
            <a class="waves-effect waves-light btn teal darken-4"><i id="back" class="large material-icons fast_rewind">fast_rewind</i></a>
            <div id="containerStep" class="row">
            </div>
        </div>
    </div>
    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="../bower_components/js/jquery-2.2.3.min.js"></script>
    <script src="../bower_components/materialize/js/materialize.js"></script>
    <script src="../bower_components/materialize/js/init.js"></script>
    <script src="../bower_components/materialize/js/init.js"></script>
    <script src="../js/data.js"></script>
    <script src="../js/triage.js"></script>
</body>

</html>
